@{
    ViewBag.Title = "Contact";
}
<div class="hometitle">
    <h1 style="    font-family: 'Hanalei Fill', cursive !important;">@ViewBag.Title</h1>
</div>
<div class="about">
    <div class="homedescription">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone"></abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

