@{
    ViewBag.Title = "Home Page";
}

<div class="Home">

    <div class="hometitle">Zephyr</div>

    <div class="homedescription">
        zeph·yr<br />
        noun<br />
        a soft gentle breeze.<br />
    </div>
</div>

