@media only screen and (max-width:720px){
    /*<------------------navbar decor------------------------->*/
    .navbar{
        grid-template-rows:repeat(2,50px);
    }
    .register{
        grid-row:2;
        grid-column:span 15!important;
        justify-content:center!important;
    }
    .actionLinks{
        grid-column:span 14!important;
        justify-content:center;
    }
    .appName{
        grid-row:1/span 2!important;
    }
    /*------------------HomePage--------------------------*/
    .homedescription{
        font-size:20px!important;
    }
}

body {
    padding-bottom: 20px;
    margin: 0px;
    background:linear-gradient(black,rgb(10, 0, 3),rgb(49, 0, 23),rgb(74, 0, 34));
    font-family: 'Hanalei Fill', cursive!important;
}

/*<--------------------NavBar Stylings--------------------->*/
.navbar{
    background-color:rgb(74, 0, 34);
    display:grid;
    grid-template-columns:repeat(15,1fr);
    grid-template-rows:repeat(1,50px);
    margin:0px;
    width:100%;
    box-shadow:0px 5px 50px rgba(255, 0, 117, 0.75);
}
.navbar div{
}
.navbar ul{
    list-style:none;
    display:flex;
    justify-content:flex-start;
    flex-flow:row
}
.navbar li{
    flex-direction:row;
    padding-left:10px;
    padding-right:10px;
}
.navbar a{
    text-decoration:none;
    color:white;
}
.actionLinks{
    grid-column:span 5;
}
.register{
    grid-column:span 9;
    display:flex;
    justify-content:flex-end;
    padding-left:10px;
    padding-right:10px
}
.register li{
    flex-wrap:wrap;
}
.appName a{
    display:flex;
    justify-content:center!important;
    align-content:center!important;
    padding-left:5px;
    font-size:30px;
}
.navbar a:hover{
    color:rgb(116, 255, 195)!important;
    text-shadow:0px 0px 5px rgb(0, 255, 127);
}
.navbar a:active {
    color: rgb(116, 255, 195) !important;
    text-shadow: 0px 0px 5px rgb(0, 255, 127);
}

/*-----------------------------------HomePage---------------------------------------*/
.home{
    display:grid;
    grid-template-rows:repeat(12,100px);
    grid-template-columns:repeat(15,1fr);
}
.hometitle {
    grid-column: span 15;
    font-size: 50px;
    color: rgb(116, 255, 195);
    text-shadow: 0px 0px 30px rgb(0, 255, 127);
    display: flex;
    align-items: center;
    justify-content: center;
}
.homedescription {
    grid-column: span 15;
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    color: rgb(10, 0, 3);
    overflow-wrap: normal;
    background-color: rgb(210, 255, 236);
    box-shadow: 0px 0px 25px rgb(116, 255, 195),0px 0px 25px rgb(116, 255, 195);
    font-family: 'Passion One', cursive !important;
}

/*-----------------------------carosel styling-------------------------------*/

.homecar {
    grid-column: 2/span 13;
    grid-row:4
}
    .homecar img {
        border-radius:10px;
        box-shadow: 0px 0px 50px rgba(255, 0, 117,0.4),0px 0px 50px rgba(255, 0, 117,0.4),0px 0px 50px rgba(255, 0, 117,0.4),0px 0px 50px rgba(255, 0, 117,0.4);
    }

/*-------------------------------About Page-------------------------------*/
.about {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(7,1fr);
}
.aboutdescription{
    grid-row:span 5;

}
/*-----------------------------ClothesPage-------------------------------*/
.clothespage{
    margin:10px;
    display:grid;
    grid-template-rows:repeat(5,350px);
    grid-template-columns:repeat(5,1fr);
    grid-gap:20px;
}
.clothes{
    background-color:rgb(116, 255, 195);
    box-shadow:0px 0px 25px rgb(0, 255, 127);
    border-radius:10px;
}
.detailsbutton{
    color:rgb(255, 0, 117);
    text-shadow:0px 0px 10px rgb(255, 0, 117);
    text-align:center;
    padding:10px;
    border-radius:5px;
    background-color:rgb(10, 0, 3);
    font-size:20px;
}
.detailsbutton a {
text-decoration:none;
}
    .detailsbutton a:hover {
        color: rgb(255, 149, 198);
        text-shadow: 0px 0px 10px rgb(210, 255, 236);
    }

.topsimage {
    background-image: url('../Images/Tops.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:10px;
}
.shoesimage {
    background-image: url('../Images/nqobile-vundla-690644-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.bottomsimage {
    background-image: url('../Images/jon-tyson-228521-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.accessoriesimage {
    background-image: url('../Images/palon-youth-599649-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

/*<-------------------Details Page---------------------->*/
.details{
    width:100%;
    height:750px;
    font-size:50px;
    text-align:center;
    color:rgb(255, 0, 117);
    text-shadow:0px 0px 50px rgb(255, 149, 198);
}
.backtolist{
    color:rgb(116, 255, 195);
    text-shadow:0 0 25px rgb(0, 255, 127);
    font-size:25px;
}
    .backtolist a{
        text-decoration:none;
    }
/*-----------------------Registration Page---------------------*/
.registerpage{
    width:100%;
    height:750px;
    text-align:center;
    color:rgb(116, 255, 195);
    text-shadow:0 0 25px rgb(0, 255, 127)  ;
    font-size:40px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
